* {
  box-sizing: border-box;
}
/*overall section styling*/
section {
  border: 1px black solid;
  margin: 1rem;
  padding: 1rem;
}

/*testing tags*/
h2 span {
  color: red;
  border: 2px solid black;
  padding: 5px;
}
/*Nav*/
.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
}
/*Header*/
.header-title {
  text-align: center;
}
/*Fetch with Async*/
.joke-wrapper {
  margin-top: 1rem;
}

.remove-btn {
  margin-top: 1rem;
}
/*Iterating List*/
.next-btn {
  margin-top: 1rem;
}
/*open close*/
.open-header {
  text-align: center;
  font-size: 2rem;
}

/*Date counter example */
.counter-section button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.counter-container {
  margin-top: 1rem;
}

/*Toggle example*/
.red {
  background-color: red;
  color: white;
  padding: 1rem;
}

.blue {
  background-color: blue;
  color: white;
  padding: 1rem;
}

/*sum example*/
.num1,
.num2 {
  display: flex;
  margin: 1rem;
}

.num1 p {
  margin: 1rem;
}

.num2 p {
  margin: 1rem;
}
