* {
  box-sizing: border-box;
}

section {
  border: 1px black solid;
  margin: 1rem;
  padding: 1rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.header-title {
  text-align: center;
}

.joke-wrapper {
  margin-top: 1rem;
}

.remove-btn {
  margin-top: 1rem;
}

.next-btn {
  margin-top: 1rem;
}

.open-header {
  text-align: center;
  font-size: 2rem;
}

.counter-section button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.counter-container {
  margin-top: 1rem;
}

.red {
  background-color: red;
  color: white;
  padding: 1rem;
}

.blue {
  background-color: blue;
  color: white;
  padding: 1rem;
}

.open-btn {
  color: white;
}

h2 span {
  color: red;
  border: 2px solid black;
  padding: 5px;
}

.num1,
.num2 {
  display: flex;
  margin: 1rem;
}

.num1 p {
  margin: 1rem;
}

.num2 p {
  margin: 1rem;
}
